.viaoda-libre-regular {
  font-family: "Viaoda Libre", serif;
  font-weight: 400;
  font-style: normal;
}
.viaoda-libre-bold {
  font-family: "Viaoda Libre", serif;
  font-weight: 700;
  font-style: normal;
}